.sidebar-sticky .social {
    float: left;
    margin-right: 15px;
}
.sidebar-sticky .social a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-indent: -9999px;
    margin: 0 15px 15px 0;
    opacity: 0.5;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.sidebar-sticky .social a:hover { opacity: 1 }
.sidebar-sticky .social a.twitter {
    background: url('/public/twitter.png') center no-repeat #55cff8;
    border: 1px solid #55CFF8;
}
.sidebar-sticky .social a.twitter:hover { border: 1px solid #24c1f6 }
.sidebar-sticky .social a.github {
    background: url('/public/github.png') center no-repeat #afb6ca;
    border: 1px solid #afb6ca;
}
.sidebar-sticky .social a.github:hover { border: 1px solid #909ab6 }
.sidebar-sticky .social a.rss {
    background: url('/images/social/rss.png?1385702818') center no-repeat #ef7522;
    border: 1px solid #EF7522;
}
.sidebar-sticky .social a.rss:hover { border: 1px solid #cf5d0f }
